@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background: linear-gradient(to right, #1400ff, #4200ff);
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 80%;
}

input, .dropdown {
  padding: 15px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
}

h1 {
  margin: 0 0 50px;
  font-weight: 500;
}

.btn {
  width: 80px;
  height: 40px;
  color: #fff;
  border: none;
  background: linear-gradient(to right, #1400ff, #4200ff);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  margin: 50px 15px 0;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn:hover {
  transition: 0.2s ease-in;
  transform: scaleX(1.05);
}


/* *********************************************** */
/* common input styles */
input:focus{
  outline: none;
}

/* styles for all the links */
a{
  text-decoration: none;
}

/* styles for all the icons */
i{
  cursor: pointer;
}

